[user]
        name = Noppanit Charassinvichai
        email = noppanit.c@gmail.com

[alias]
        pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
        ci = commit
        st = status -sb
        br = branch
        co = checkout
        df = diff
        lg = log -p
        hi = log --pretty=oneline
